.MuiPaper-root.blue{
    background-color: var(--primary-light);
}

.MuiPaper-root.green{
    background-color:var(--alternative-primary-light) ;
}

.MuiPaper-root.red{
  background-color:var(--accent) ;
  color: var(--color-text-on-accent);
}

.MuiCardMedia-media.cours{
    width: 50%;
    margin : auto;
}

.MuiCardMedia-media.promo{
    width: 50%;
    margin : auto;
}
.MuiCardMedia-media.nextcours{
    width: 50%;
    margin : auto;
}
.MuiCardMedia-media.admin{
    width: 50%;
    margin : auto;
}

.link{
    text-decoration: none;
    color: var(--primary)
}

.promoCard{
    margin-top: 32px;
}

.lessonCard {
  margin-top: 16px;
}